/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
* {
  outline: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*::after {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  background-color: #101820;
  color: white;
}

a {
  transition: all 0.4s ease-in-out;
}

a:focus,
a:hover {
  text-decoration: none;
}

a.link {
  color: #c2cbd4;
}

a.link:focus,
a.link:hover {
  color: #00b8d9;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}